{% if pre_command %}
{{ pre_command }}
{% endif %}
{% if pykernel %}
{% for suffix in command_suffixes %}
{{ pykernel }} "python {{ script_path }} {{ suffix }}"
{% endfor %}
{% else %}
{% for suffix in command_suffixes %}
python {{ script_path }} {{ suffix }}
{% endfor %}
{% endif %}
