#!/bin/bash
#SBATCH --job-name={{ job_name }}
#SBATCH --partition={{ partition  | default("2080-galvani") }}
#SBATCH --nodes={{ nodes          | default(1)            }}
#SBATCH --ntasks={{ ntasks        | default(1)            }}
#SBATCH --cpus-per-task={{ cpus_per_task | default(12)     }}
#SBATCH --mem-per-cpu={{ mem_per_cpu  | default("4G")       }}
#SBATCH --gres={{ gres             | default("gpu:1")     }}
#SBATCH --time={{ time_limit      | default("3-00:00:00")}}
#SBATCH --output={{ slurm_log_dir  | default("logs") }}/%x_%j.out

scontrol show job $SLURM_JOB_ID

export TMPDIR=$WORK/tmp
export CACHEDIR=$WORK/cache

echo {{script_path}}

{% if pre_command -%}
{{ pre_command }}
{% endif -%}
{% if working_directory -%}
cd {{ working_directory }}
export PYTHONPATH="{{ working_directory }}${PYTHONPATH:+:$PYTHONPATH}"
{% endif -%}
{% for suffix in command_suffixes -%}
{% if command_wrapper -%}
{{ command_wrapper }} "{{ python_cmd }} {{ script_path }} {{ suffix }}"
{% else -%}
{{ python_cmd }} {{ script_path }} {{ suffix }}
{% endif -%}
{% endfor -%}
